<img class="image-gradient" src="assets/images/gradient.png" alt="Gradient" />
<div class="layer-blur"></div>

<div class="container">
  <lib-header></lib-header>
  <main>
    <div class="content">
      <div class="tag-box">
        <div class="tag"> INTRUCING &wedbar; </div>
      </div>

      <h1>NX FOR <br> DEVELOPERS</h1>
      <p class="description">
        Nx is a smart and extensible build framework that helps you develop, test, and deploy at any scale.
      </p>

      <div class="buttons">
        <a class="btn-get-started" href="#">Documentation &gt;</a>
        <a class="btn-signing-main" href="#">Get started &gt;</a>
      </div>
    </div>
  </main>

  <spline-viewer class="robot" url="https://prod.spline.design/06EreZEcISKZDTgU/scene.splinecode"></spline-viewer>

</div>
